<!DOCTYPE html>
<html>
  <body>
    <h1><% title %></h1>
    <div style="display: flex; gap: 100px">
      <%- include('./layout') %>
      <div>
        <form method="POST">
          <div class="form.group">
            <label for="name">Name</label>
            <input type="text" placeholder="documents" name="name" required />

            <button type="submit" class="btn-primary">Submit</button>
          </div>
        </form>

        <br />
        <% if (errors) { %> <% errors.forEach(error => { %>
        <li>
          <p><%= error.msg %></p>
        </li>
        <% }) %> <% } %> <% if (message !== null) { %>
        <p><%= message %></p>
        <% } %>
      </div>
    </div>
  </body>
</html>
